<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.mvc.chap04.repository.ScoreMapper">

    <!--  resultMap : db컬럼명과 자바 클래스 필드명이 완전히 다를때 사용  -->
    <resultMap id="scoreMap" type="com.spring.mvc.chap04.entity.Score">
        <result column="stu_name" property="name" />
    </resultMap>

    <select id="findAll" resultMap="scoreMap">
        SELECT * FROM tbl_score
        <if test="sort == 'num'">
            ORDER BY stu_num asc
        </if>
        <if test="sort == 'name'">
            ORDER BY stu_name asc
        </if>
        <if test="sort == 'avg'">
            ORDER BY average desc
        </if>
    </select>

    <insert id="save">
        INSERT INTO tbl_score (stu_name, kor, eng, math, total, average, grade)
        VALUES (#{name}, #{kor}, #{eng}, #{math}, #{total}, #{average}, #{grade})
    </insert>

    <delete id="delete">
        DELETE FROM tbl_score WHERE stu_num = #{stuNum}
    </delete>

    <select id="findOne" resultMap="scoreMap">
        SELECT * FROM tbl_score WHERE stu_num = #{stuNum}
    </select>

    <update id="updateScore">
        update tbl_score
        SET
        kor = #{kor}
        , eng = #{eng}
        , math = #{math}
        , total = ${kor + eng + math}
        , average = total / 3.0
        WHERE stu_num = #{stuNum}
    </update>

    <update id="updateGrade">
        update tbl_score
        set
        grade = #{grade}
        WHERE stu_num = #{stuNum}
    </update>

</mapper>